<head>
    <link rel="stylesheet" href="/css/web/component.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<footer class="footer">
    <div class="footer__content">
        <!-- LOGO -->
        <div class="footer__col footer__col--logo">
            <img src="/assets/images/logo.png" alt="logo" class="footer__logo">
            <p class="footer__slogan">Yêu thương từ bữa ăn đầu tiên 🐾</p>
        </div>

        <!-- INFO -->
        <div class="footer__col">
            <h3 class="footer__title">CÔNG TY CỔ PHẦN THƯƠNG MẠI & DỊCH VỤ PETJOY</h3>
            <p>Địa chỉ: Số 12 Nguyễn Văn Bảo, P. Hạnh Thông, TP.HCM</p>
            <p>Hotline: 0123456789</p>
            <p>Email: petjoy@gmail.com</p>
        </div>

        <!-- SOCIAL -->
        <div class="footer__col">
            <h3 class="footer__title">THEO DÕI CHÚNG TÔI 🌸</h3>

            <p>
                <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                    <i class="fa-brands fa-facebook"></i> Facebook
                </a>
            </p>

            <p>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                    <i class="fa-brands fa-instagram"></i> Instagram
                </a>
            </p>

            <p>
                <a href="https://www.tiktok.com/" target="_blank" class="footer__social">
                    <i class="fa-brands fa-tiktok"></i> TikTok
                </a>
            </p>
        </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="footer__bottom">
        © 2026 PetJoy
    </div>

</footer>
<script src="/js/bootsrap/bootstrap.bundle.js"></script>